{% extends 'base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">


          <div class="page-title">
            <div class="title_left">
            {% if user.is_authenticated %}
              <h1>{{user.profile.campaign}}</h1>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">Dailer</a></a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">Agent Performance</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">Head Count</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu3">QA Report</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe title="Aditya Birla Retailer Calling - Dialer" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNGQ3ODBlYTktYjZlOS00Mjc4LTkyN2UtMzliNDhiMDNlYzkxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe title="Aditya Birla Retailer Calling - Dialer" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNGQ3ODBlYTktYjZlOS00Mjc4LTkyN2UtMzliNDhiMDNlYzkxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection3d8072f0d9bc4c00239c" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe title="Aditya Birla Retailer Calling - Dialer" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNGQ3ODBlYTktYjZlOS00Mjc4LTkyN2UtMzliNDhiMDNlYzkxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiona1e8fe6ca77570ab33d0" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <iframe title="Aditya Birla Retailer Calling - Dialer" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNGQ3ODBlYTktYjZlOS00Mjc4LTkyN2UtMzliNDhiMDNlYzkxIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection98475f3f41b977772ade" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->

{% endblock %}
