{% extends 'base.html' %}
{% load static %}
{% block main %}
         <!-- page content -->
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
            {% if user.is_authenticated %}
              <h1>{{user.profile.campaign}}</h1>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">Report</a></a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">Dashboard Unique</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">Head Count</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu3">QA</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe title="Schindler Media - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNTdlZDJmMDktNWQ4YS00ODFhLTlmYTktZjEwNmEyZjc3ZTQyIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe title="Schindler Media - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNTdlZDJmMDktNWQ4YS00ODFhLTlmYTktZjEwNmEyZjc3ZTQyIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection52a1f2ce0f0257836cf8" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe title="Schindler Media - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNTdlZDJmMDktNWQ4YS00ODFhLTlmYTktZjEwNmEyZjc3ZTQyIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiona7a7c2cce8387a770340" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <iframe title="Schindler Media - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNTdlZDJmMDktNWQ4YS00ODFhLTlmYTktZjEwNmEyZjc3ZTQyIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSectiondfc0996457693c657a7f" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->

{% endblock %}