{% extends 'base.html' %}
{% load static %}
{% block main %}
         <!-- page content -->
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
            {% if user.is_authenticated %}
              <h1>{{user.profile.campaign}}</h1>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 tabss">
              <ul class="nav nav-pills">
                <li><a class="btn btn-sm btn-success active" data-toggle="tab" href="#home">Report</a></a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu1">QA</a></li>
                <li><a class="btn btn-sm btn-success" data-toggle="tab" href="#menu2">Head Count</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade show active">
                  <iframe title="RainBow Diagnostics LTS - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWM0MmVlMTYtMGFkZi00ODJjLWFhMzQtMjQ0ZTY5ZGUxZDZiIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <iframe title="RainBow Diagnostics LTS - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWM0MmVlMTYtMGFkZi00ODJjLWFhMzQtMjQ0ZTY5ZGUxZDZiIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection320c2e5f0de0424c3566" frameborder="0" allowFullScreen="true"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <iframe title="RainBow Diagnostics LTS - Report" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiZWM0MmVlMTYtMGFkZi00ODJjLWFhMzQtMjQ0ZTY5ZGUxZDZiIiwidCI6IjlkODBmZDUwLTc1YWQtNDIxNS05ZjFiLWE2MzBmYWIxNDk1NCJ9&pageName=ReportSection3573ec183dda0b08954e" frameborder="0" allowFullScreen="true"></iframe>
                </div>
              </div>
                 
            </div>
          </div>

        </div>
        <!-- /page content -->

{% endblock %}