{% extends 'base.html' %}
{% load static %}
{% block main %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h2>Change Password</h2>
                </div>
                <div class="card-body">
                  <div class="container-lg">
                        {% for m in messages %}
                        <p>{{m}}</p>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-12">
                                {% load crispy_forms_tags %}
                                <div class="signupform">
                                    <form method="post" action="settings" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {{ form|crispy }}
                                        <br><br>
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                                <div align="center">
                                    <button type="button" onclick="history.back();" class="btn btn-primary" >Go Back to Reports</button>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- /page content -->


{% endblock %}